body {
    margin: 0;
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(0deg, #fff, #eaeaea) fixed;
}

#main {
    max-width: 700px;
    margin: 48px auto;
    box-shadow: 0 0 10px #333;
    text-transform: lowercase;
    font-size: 13px;
    border: 10px solid #fff;
    border-radius: 10px;
}

#sample-text {
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100px;
    border: 1px dashed #aaa;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

input[type=color] {
    height: 4em;
    padding: 0;
    border: 4px solid #eee;
    box-sizing: border-box;
}

.color {
    text-align: right;
    position: relative;
    width: 100%;
    margin: auto;
    display: block;
    z-index: 1;
}
.color label{
    width: 100%;
    text-align: center;
    line-height: 48px;
}
.color input{
    position: absolute;
    margin: 0;
    width: 100%;
    min-height: 48px;
    top: 0;
    left: 0;
    z-index: -1;
}
.flexrow,
fieldset {
    font-size: 12px
}

fieldset {
    display: flex;
    flex-flow: column;
    line-height: 1;
    margin: 0;
    padding: 4px;
    position: relative;
}

.seper {
    display: grid;
    background: #fafafa;
    border: 1px solid #aaa;
    padding: 12px;
    grid-template-areas: "control1 control2 colordata""control1 control2 colorlist""control1 button include";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.seper>fieldset:nth-child(1) {
    grid-area: control1
}

.seper>fieldset:nth-child(2) {
    grid-area: control2
}

.seper>fieldset:nth-child(3) {
    grid-area: colordata
}

.seper>fieldset:nth-child(4) {
    grid-area: colorlist
}

.seper button {
    grid-area: button
}

.seper .include {
    grid-area: include
}

.nudes,
input {
    margin: 4px
}

label {
    line-height: 2;
    text-align: right;
    display: block;
    margin: 0 4px
}

input[type=checkbox],
input[type=radio],
label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

input[type=number] {
    width: 6ch
}

.export {
    display: flex;
    min-width: 50%;
    height: 50%;
    background: #aaa;
    border: 10px solid #777;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hidden {
    display: none
}

.radios {
}

.bottom {
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0
}

:not(legend, label) {
    font-size: 0
}

.inline {
    margin: 48px auto
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #63096a;
    border-radius: 8px;
    background: #bb10c8;
    background: -webkit-gradient(linear, left top, left bottom, from(#bb10c8), to(#63096a));
    background: -moz-linear-gradient(top, #bb10c8, #63096a);
    background: linear-gradient(to bottom, #bb10c8, #63096a);
    -webkit-box-shadow: #e013f0 0 0 4px 0;
    -moz-box-shadow: #e013f0 0 0 4px 0;
    box-shadow: #e013f0 0 0 4px 0;
    text-shadow: #3b053f 1px 1px 1px;
    font: 700 16px arial;
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.button:focus,
.button:hover {
    border: 1px solid #750a7d;
    background: #e013f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e013f0), to(#770b7f));
    background: -moz-linear-gradient(top, #e013f0, #770b7f);
    background: linear-gradient(to bottom, #e013f0, #770b7f);
    color: #fff;
    text-decoration: none
}

.button:active {
    background: #63096a;
    background: -webkit-gradient(linear, left top, left bottom, from(#63096a), to(#63096a));
    background: -moz-linear-gradient(top, #63096a, #63096a);
    background: linear-gradient(to bottom, #63096a, #63096a)
}

.center {
    display: inline
}

@media screen and (max-width: 480px) {
    .seper {
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    .export {
        width: 90%;
        text-align: center;
    }
}